
a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: black;
    padding: 0px 0px 0px 15px;
    opacity: 0.75;
}

a:hover{
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 10px 10px 0px 0px;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 0px 20px 15px;
}

.right-nav {
    float:right;
    margin: auto;
}

.main-content{
    width: 400px;
    height: 400px;
    padding-top: 155px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.searchbar {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    padding-top: 20px;
}

.search:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search {
    display: block;
    border: 1px solid #dfe1e5;
    width: 400px;
    height: 30px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}
.searchbuttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}
.buttons:hover{
    border:1px solid black;
}
.buttons {
    display: block;
    justify-content: space-between;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 0px;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #dfe1e5;
    color: white;
    text-align: center;
}