.navbar {
    text-align: left;
    width: 100;
}

.navbar ul {
    display: inline-block;
}

.navbar li {
    float: left;
}

.navbar li+li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: black;
    padding: 0px 0px 0px 15px;
}

ul {
    list-style-type: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

#main-content {
    display: flex;
}